html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    max-height: 1000000px;
}

main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    padding: 0;
    min-height: 100vh;
    min-width: 320px;
}

label {
    cursor: pointer;
}

#wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header {
    background: #ccc;
    padding: 15px;
}

.main-content {
    padding: 20px;
}

footer {
    background: #ccc;
    padding: 15px;
}
